<html>
  <head>
    <title>Viaprize Proposal Deployed!</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;
      background-color: #f4f4f4; } .container { margin: auto; padding: 20px;
      max-width: 600px; background-color: #fff; } h1 { color: #333; } p {
      font-size: 16px; line-height: 1.6; } .footer { text-align: left; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Proposal Deployed</h1>
      <p>
        Dear
        {{name}},
      </p>
      <p>
        We are pleased to inform you that your proposal has been deployed and is now visible as a campaign on the website.
        Congratulations!
      </p>
      <p>
        Here are the details of your approved proposal:
      </p>
      <ul>
        <li><strong>Title:</strong> {{proposalTitle}}</li>

      </ul>
      <p>
        If you have any questions or need further assistance, please feel free
        to contact us. We look forward to seeing your campaign come to life.
        Plus join our community on Telegram
        {{telegramLink}}
      </p>
      <div class='footer'>
        <p>Best regards,</p>
        <p>The Admin Team</p>
      </div>
    </div>
  </body>
</html>
