<html>
  <head>
    <title>Viaprize Submission Received!</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;
      background-color: #f4f4f4; } .container { margin: auto; padding: 20px;
      max-width: 600px; background-color: #fff; } h1 { color: #333; } p {
      font-size: 16px; line-height: 1.6; } .footer { text-align: left; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Submission Was Received</h1>

      <p>
        We are pleased to inform you that your submission has been received. 
     <br>
        When the submission deadline is reached, 
        then voting will begin where winners are selected by 
        either pre-chosen judges or the funders of the campaign. 
      <br>
        Winnings are directly proportional meaning that if you win 10% of the votes 
        you would receive 10% of the prize pool.
      <br>
        Funds are sent to you automatically and appear in your profile page.
      </p>

      <p>
        If you have any questions or need further assistance, please feel free
        to contact us. 
        Plus join our community on Telegram
        {{telegramLink}}
      </p>
      <div class='footer'>
        <p>Best regards,</p>
        <p>The Admin Team</p>
      </div>
    </div>
  </body>
</html>
