.button-purple {
  color: white;
  background-color: #BE7DFF;
  border: none;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  width: 182px;
  height: 44px;
}

.button-purple span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  transition: .6s ease;
  z-index: 1;
}

.button-purple span:nth-child(1) {
  transform: translate(-4.3em, -7em);
}

.button-purple span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.button-purple span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.button-purple span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.button-purple span:nth-child(5) {
  transform: translate(5.5em, -3.8em);
}

.button-purple span:nth-child(6) {
  z-index: 3;
  position: relative;
  transform: translate(-50%, -50%) scale(4);
}

.button-purple:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.button-purple:hover span:nth-child(6) {
  transition: 1s ease;
  color: #BE7DFF;
}
